.topSection{
	width:95%;
	margin:30px auto 30px auto;
	background-color: whitesmoke;
}

.middleSection{
	display: inline-block;


}



.leftSide {
	display: inline-block;
	background-color: pink;

}


.rightSide{
	display: inline-block;


}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

li{
	margin:  10px 0;
}

